%ul.account-manage
  - if user_signed_in?
    - if current_user.is_admin?
      %li
        = link_to 'control panel', rails_admin.dashboard_path
    %li
      = link_to 'edit registration', edit_user_registration_path
    %li
      = link_to 'Logout', destroy_user_session_path, method: :delete
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Register', new_user_registration_path