- if controller_name == 'albums' && action_name == 'show'
  = stylesheet_link_tag    "themes/#{params[:theme]}/galleria.#{params[:theme]}", media: "all"
  = javascript_include_tag "themes/#{params[:theme]}/galleria.#{params[:theme]}"
