!!!
%html
  %head
    %title Photogallery
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "themes/twelve/galleria.twelve"
    = csrf_meta_tags
  %body
    = render 'layouts/account_manage'
    = yield
